# Virtual Environment
preprocessing/dataset1_ucsd_eeg/venv/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all contents inside data folders...
preprocessing/dataset1_ucsd_eeg/data/raw/*
preprocessing/dataset1_ucsd_eeg/data/interim/*
preprocessing/dataset1_ucsd_eeg/data/processed/*

# ...except for the .gitkeep files
!preprocessing/dataset1_ucsd_eeg/data/raw/.gitkeep
!preprocessing/dataset1_ucsd_eeg/data/interim/.gitkeep
!preprocessing/dataset1_ucsd_eeg/data/processed/.gitkeep

# IDE files
.vscode/