# Virtual Environment
preprocessing/dataset1_ucsd_eeg/venv/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Data folders (Ignore files, but keep the structure via .gitkeep)
preprocessing/dataset1_ucsd_eeg/data/*
!preprocessing/dataset1_ucsd_eeg/data/**/.gitkeep

# IDE files
.vscode/